.our-rewards-section {
  width: 100%;
  height: auto;
  padding-bottom: 150px;
  background-color: var(--global-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 100px !important;
    box-sizing: border-box;
    .main {
      color: var(--global-color-accent);
      text-align: center;
      font-family: var(--global-font-oxanium);
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 12px;
      text-transform: uppercase;
    }
    .sub {
      color: var(--global-color-primary);
      text-align: center;
      font-family: var(--global-font-oxanium);
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  .rewards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 200px;
    .reward-card {
      .title {
        margin-top: 30px !important;
      }
      &:first-child {
        button {
          background-color: red;
        }
      }
      &:first-child .heading {
        color: var(--global-color-primary);
        text-align: center;
        font-family: var(--global-font-oxanium);
        font-size: 113px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
      &:first-child .description {
        margin-bottom: 20px;
        width: 70%;
      }
      &:nth-child(2) .heading {
        margin-top: 20px;
        margin-bottom: 20px;
        color: var(--global-color-primary);
        text-align: center;
        font-family: var(--global-font-oxanium);
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: 50.021px;
        text-transform: uppercase;
      }
      &:nth-child(2) .title-image {
        left: 25%;
        width: 180px;
        height: 42px;
        position: absolute;
        top: -12px;
      }
      &:nth-child(2) .big-image {
        width: 350px;
        height: 150px;
        position: absolute;
        top: 50px;
      }
      &:nth-child(2) .description {
        margin-bottom: 20px;
        width: 70%;
      }
      &:nth-child(3) .heading {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 200px !important;
        color: var(--global-color-primary);
        text-align: center;
        font-family: var(--global-font-oxanium);
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 54.285px;
        text-transform: uppercase;
      }
      &:nth-child(3) .big-image {
        position: absolute;
        top: 35px !important;
      }
      &:nth-child(3) .title-image {
        left: 28%;
        width: 180px;
        height: 42px;
        position: absolute;
        top: -12px;
      }
      &:nth-child(3) .description {
        margin-bottom: 40px;
      }

      &:nth-child(4) {
        margin-top: 100px;
      }
      &:nth-child(4) .heading {
        width: 250px !important;
        margin-top: 20px !important;
        margin-bottom: 20px;
        color: var(--global-color-primary);
        text-align: center;
        font-family: var(--global-font-oxanium);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
      &:nth-child(4) .description {
        margin-bottom: 20px;
      }
      &:nth-child(4) .big-image {
        position: absolute;
        top: 50px !important;
      }
      &:nth-child(4) .title-image {
        left: 25%;
        width: 180px;
        height: 42px;
        position: absolute;
        top: -12px;
      }
      &:nth-child(5) {
        margin-top: 100px;
      }
      &:nth-child(5) .heading {
        width: 250px !important;
        margin-top: 20px !important;
        margin-bottom: 20px;
        color: var(--global-color-primary);
        text-align: center;
        font-family: var(--global-font-oxanium);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
      &:nth-child(5) .description {
        margin-bottom: 20px;
      }
      &:nth-child(5) .big-image {
        position: absolute;
        top: 35px !important;
      }
      &:nth-child(5) .title-image {
        left: 30%;
        width: 150px;
        height: 30px;
        position: absolute;
        top: -12px;
      }
      &:nth-child(6) {
        margin-top: 100px;
      }
      &:nth-child(6) .heading {
        width: 250px !important;
        margin-top: 20px !important;
        margin-bottom: 20px;
        color: var(--global-color-primary);
        text-align: center;
        font-family: var(--global-font-oxanium);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
      &:nth-child(6) .big-image {
        position: absolute;
        top: 50px !important;
      }
      &:nth-child(6) .title-image {
        left: 35%;
        width: 100px;
        height: 35px;
        position: absolute;
        top: -12px;
        filter: invert(1) grayscale(1) brightness(200%) contrast(200%);
      }
      &:nth-child(6) .description {
        margin-bottom: 20px;
      }
    }
  }
}
