:root {
  --global-color-primary: #ffffff;
  --global-color-secondary: #171717;
  --global-color-accent: #ffdd15;
  --global-font-oxanium: Oxanium !important;
  --global-color-accent-hover: #ffdc1554;
}

* {
  padding: 0;
  margin: 0;
}
